@import 'main';
@import 'palette'; 

.hidden{
    display:none;
}

.toolItem{
    @extend %flex-center;
    flex-direction:row;
    position:relative;
    width:100%;
    margin:0.2em 0;
    text-align:center;
    
    & > div:not(.modal){
        flex:1;
        width:100%;
    }
    .label{
        position:relative;
    }

}
